.titleScroller-fx__title {
  color: inherit;
  text-align: center;
  line-height: 1.5rem;
  font-size: 6rem;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .titleScroller-fx__title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 576px) {
  .titleScroller-fx__title {
    font-size: 3rem;
  }
}