.contacts__description {
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin: 8px 0 0;
  cursor: pointer;
  color: black;
  transition: opacity .4s linear;
}

.contacts__description:hover {
  opacity: .7;
}