.bacterium-fx {
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 50%);
}

@media screen and (max-width: 575px) {
  .bacterium-fx {
    transform: scale(.64) translate(-2%, 75%);
  }
}