.contacts {
 box-sizing: border-box;
 padding: 100px 0;
 background-image: linear-gradient(#eee, #fff);
 display: flex;
 justify-content: center;
 gap: 200px;
 height: 88%;
}

@media screen and (max-width: 767px) {
  .contacts {
    flex-direction: column;
    gap: 50px;
  }
}