.products__container {
  box-sizing: border-box;
  font-size: 20px;
  padding: 0 60px 0;
  letter-spacing: .5px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
}

@media screen and (max-width: 575px) {
  .products__container {
    width: 100%;
  }
}