.products__title {
  font-size: 26px;
  color: #cccccc;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  display: block;
  user-select: none;
  will-change: transform, opacity;
  transform: translateY(100px);
  transition: 1s ease-in-out;
  letter-spacing: 1.5px;
}

.products__item:hover .products__title {
  opacity: 0; 
  transform: translateY(-100px);
}

@media screen and (max-width: 576px) {
  .products__title{
    font-size: 5.4vw;
  }
}