.footer__social-item {
  padding-right: 35px;
}

.footer__social-item:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 576px) {
  .footer__social-item {
    padding: 15px 0 0; 
  }

  .footer__social-item:first-of-type {
    padding: 0; 
  }
}