@keyframes logo {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(3.2);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
}