@keyframes move-object {
  /* Swoosh to the RIGHT  */
  0%{
    transform: translate(0,0) scale(1,1);
  }
  1%{
    transform: translate(0,0) scale(1,1);
  }
  4%{
    transform: translate(100px,0) scale(8,1);
  }
  5%{
    transform: translate(190px,0) scale(1,1);
  }
  6%{
    transform: translate(195px,0) scale(.5,2);
  }
  8%{
    transform: translate(185px,0) scale(1.25,.9);
  }
  10%{
    transform: translate(190px,0) scale(1,1);
  }


  /* Beam DOWN   */
  19%{
    transform: translate(190px,100px) scale(.4,8);
  }
  21%{
    transform: translate(190px,100px) scale(.4,8);
  }
  22%{
    transform: translate(190px,100px) scale(1,1);
  }


  /* STEPS to the LEFT */
  23%{
    transform: translate(190px,100px);
  }
  24%{
    transform: translate(180px,82px) scale(1,1) rotate(-45deg);
  }
  26%{
    transform: translate(170px,90px) scale(1,1) rotate(-90deg);
  }
  26.1%{
    transform: translate(170px,96px) scale(1.3,.7) rotate(-90deg);
  }
  28%{
    transform: translate(170px,90px) scale(1,1) rotate(-90deg);
  }
  
  32%{
    transform: translate(160px, 82px) scale(1,1) rotate(-135deg);
  }
  34%{
    transform: translate(150px, 90px) scale(1,1) rotate(-180deg);
  }
  34.1%{
    transform: translate(150px, 96px) scale(1.3,.7) rotate(-180deg);
  }
  36%{
    transform: translate(150px, 90px) scale(1,1) rotate(-180deg);
  }

  40%{
    transform: translate(140px,82px) scale(1,1) rotate(-225deg);
  }
  42%{
    transform: translate(130px,90px) scale(1,1) rotate(-270deg);
  }
  42.1%{
    transform: translate(130px,96px) scale(1.3,0.7) rotate(-270deg);
  }
  44%{
    transform: translate(130px,90px) scale(1,1) rotate(-270deg);
  }
  
  48%{
    transform: translate(120px,82px) scale(1,1) rotate(-315deg);
  }
  50%{
    transform: translate(110px,90px) scale(1,1) rotate(-360deg);
  }
  50.1%{
    transform: translate(110px,96px) scale(1.3,0.7) rotate(-360deg);
  }
  52%{
    transform: translate(110px,90px) scale(1,1) rotate(-360deg);
  }

  56%{
    transform: translate(100px,82px) scale(1,1) rotate(-405deg);
  }
  58%{
    transform: translate(90px,90px) scale(1,1) rotate(-450deg);
  }
  58.1%{
    transform: translate(90px,96px) scale(1.3,0.7) rotate(-450deg);
  }
  60%{
    transform: translate(90px,90px) scale(1,1) rotate(-450deg);
  }

  64%{
    transform: translate(80px,82px) scale(1,1) rotate(-495deg);
  }
  66%{
    transform: translate(70px,90px) scale(1,1) rotate(-540deg);
  }
  66.1%{
    transform: translate(70px,96px) scale(1.3,0.7) rotate(-540deg);
  }
  68%{
    transform: translate(70px,90px) scale(1,1) rotate(-540deg);
  }

  72%{
    transform: translate(60px,82px) scale(1,1) rotate(-595deg);
  }
  74%{
    transform: translate(50px,90px) scale(1,1) rotate(-640deg);
  }
  74.1%{
    transform: translate(50px,96px) scale(1.3,0.7) rotate(-640deg);
  }
  76%{
    transform: translate(50px,90px) scale(1,1) rotate(-640deg);
  }

  80%{
    transform: translate(40px,82px) scale(1,1) rotate(-685deg);
  }
  82%{
    transform: translate(30px,90px) scale(1,1) rotate(-730deg);
  }
  82.1%{
    transform: translate(30px,96px) scale(1.3,0.7) rotate(-730deg);
  }
  84%{
    transform: translate(30px,90px) scale(1,1) rotate(-730deg);
  }

  88%{
    transform: translate(20px, 82px) scale(1,1) rotate(-775deg);
  }
  90%{
    transform: translate(0, 90px) scale(1,1) rotate(-820deg);
  }
  90.0001%{
    transform: translate(0, 90px) rotate(-820deg);
  }
  92%{
    transform: translate(0, 90px) scale(1,1) rotate(-820deg);
  }


  /* RACE to the TOP */
  93%{
    transform: translate(0,90px) scale(1,1) skew(0,0);
  }
  94%{
    transform: translate(0,80px) scale(1,1) skew(0,1deg);
  }
  95%{
    transform: translate(0,0) scale(1,1) skew(0,30deg);
  }
  95.1%{
    transform: translate(0,0) scale(1,1) skew(0,0);
  }
  96%{
    transform: translate(0,-16px) scale(1.9,0.3) skew(0,0);
  }
  97%{
    transform: translate(0,2px) scale(0.9,1.1) skew(0,0);
  }
  98%{
    transform: translate(0,0) scale(1,1);
  }
}


.squareFx {
  width: 210px;
  height: 110px;
  background-color: #5B5B5B;
  margin: auto;
  transform: scale(.9);

  &__object {
    width: 20px;
    height: 20px;
    background-color: #26FFAF;
    animation:  move-object 6s ease-in-out 0s infinite;
  }
}