.footer__social-image {
  width: 28px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .footer__social-image {
    width: 24px;
    height: 28px;
  }
}