.logo {
  background-image: url(../../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 310px;
  height: 90px;
}

@media screen and (max-width: 575px) {
  .logo {
    width: 240px;
    height: 70px;
  }
}