.titleScroller-fx__content {
  position: absolute;
  top: 100%;
  will-change: transform;
  animation: scroller 300s linear 12s;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .titleScroller-fx__content {
    animation: scroller 250s linear 12s;
  }
}

@media screen and (max-width: 767px) {
  .titleScroller-fx__content {
    animation: scroller 200s linear 12s;
  }
}

@media screen and (max-width: 575px) {
  .titleScroller-fx__content {
    animation: scroller 150s linear 12s;
  }
}

@media screen and (max-width: 390px) {
  .titleScroller-fx__content {
    animation: scroller 100s linear 12s;
  }
}