.page_location_about-us {
  background-image: url(../../../images/backgrounds/about-us.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 120vh;
  overflow: hidden !important;
}


.page_location_about-us::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 52%,
    rgba(0, 0, 0, 0.54) 79%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}