.titleScroller-fx__scroller {
  font-family: sans-serif;
  font-weight: bold;
  /* font-size: 330%; */
  font-size: 4vw;
  color:  #ffffff;
  text-align: justify;
  overflow: hidden;
  height: 50em;
  width: 24em;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -12em;
  z-index: 0;
  transform: perspective(250px) rotateX(25deg);
  transform-origin: 50% 100%;
}

.titleScroller-fx__scroller::after {
  position: absolute;
  content: "";
  bottom: 60%;
  left: 0;
  right: 0;
  top:0;
}