.description {
  padding-top: 50px;
  background-color: inherit;
  background-color: rgba(238, 238, 238, 0.44);
  color: rgb(41, 41, 41);

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    line-height: 19px;
    font-size: 17px;
    margin: 0 0 10px;
    padding-left: 6%;
    text-align: left;
    font-weight: 500;
    max-width: 420px;
    display: block;
    position: relative;
    cursor: default;
    z-index: 1;
    opacity: 0.9;
  }

  &__wrapper {
    width: 490px;
    height: 244px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}



@media screen and (max-width: 600px) {
 .description__subtitle {
  margin-bottom: 20px;
  max-width: 360px;
  font-weight: 500;
  padding: 0 20px;
  font-size: 16px;
 }
 

 .description__wrapper {
  width: 100%;
}
}
 