.page_position-aboutUs {
  background: bottom / cover no-repeat url(../../../images/backgrounds/about-us.jpg);
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: relative;
  min-width: 320px;
}

.page_position-aboutUs::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, .2) 95%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .page_position-aboutUs::after {
    height: 110vh;
  }
}

@media screen and (max-width: 576px) {
  .page_position-aboutUs::after {
    height: 115vh;
  }
}
