.products {
  background-image: linear-gradient(#e2e1e1, #eee);
  padding: 60px 0 100px;
  min-width: 320px;
  min-height: 40vh;
}

@media screen and (max-width: 991px) {
  .products {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 575px) {
  .products {
    padding: 40px 0 70px;
  }
}

