.footer__caption {
  padding: 0 50px 10px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  text-align: right;
}

@media screen and (max-width: 991px) {
  .footer__caption {
    padding: 0 0 10px;
    font-size: 11px;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .footer__caption {
    font-size: 9px;
  }
}