.requestButton {
  position: fixed;
  transform: rotate(270deg);
  right: -7px;
  top: 40%;
  background: url('../../images/mail.png')  center / contain no-repeat;
  width: 75px;
  height: 75px;
  cursor: pointer;
  z-index: 5;
  transition: all .1s ease-out;

  &:hover {
    opacity: .7;
  }

  &_openedPopup {
    background: url('../../images/mailLoad.png')  center / contain no-repeat;
    opacity: .7;
    cursor: default;
  }
}

@media screen and (max-width: 808px) {
  .requestButton {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .requestButton {
    width: 60px;
    height: 60px;
  }
}
 