.products__container {
  box-sizing: border-box;
  font-size: 20px;
  padding: 0 60px 0;
  letter-spacing: .5px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

@media screen and (max-width: 1239px) {
  .products__container {
    gap: 40px;
  }
}

@media screen and (max-width: 575px) {
  .products__container {
    width: 100%;
    padding: 0 30px;
  }
}