.titleScroller-fx__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 2.7rem;
  width: 80%;
  opacity: 0;
  animation: intro 5s ease-out 0.5s;
}