@import url(../vendor/Normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_color/logo_color-white.css);
@import url(../blocks/header/__nav-link/header__nav-link.css);
@import url(../blocks/header/__nav-link/_active/header__nav-link_active.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-items/header__nav-items.css);
@import url(../blocks/header/__nav-item/header__nav-item.css);

@import url(../blocks/content/content.css);

@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__item/contacts__item.css);
@import url(../blocks/contacts/__title/contacts__title.css);
@import url(../blocks/contacts/__description/contacts__description.css);

@import url(../blocks/line-fx/line-fx.css);
@import url(../blocks/line-fx/__item/line-fx__item.css);
@import url(../blocks/line-fx/__row/line-fx__row.css);
@import url(../blocks/line-fx/__row/_size/line-fx__row_size_xs.css);
@import url(../blocks/line-fx/__row/_size/line-fx__row_size_s.css);
@import url(../blocks/line-fx/__row/_size/line-fx__row_size_m.css);
@import url(../blocks/line-fx/__row/_size/line-fx__row_size_l.css);
@import url(../blocks/line-fx/_move-animation/line-fx_move-animation.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/footer/__social-container/footer__social-comtainer.css);
@import url(../blocks/footer/__nav-social/footer__nav-social.css);
@import url(../blocks/footer/__social-title/footer__social-title.css);
@import url(../blocks/footer/__social-items/footer__social-items.css);
@import url(../blocks/footer/__social-item-link/footer__social-item-link.css);
@import url(../blocks/footer/__social-item/footer__social-item.css);
@import url(../blocks/footer/__social-image/footer__social-image.css);