@import url(../vendor/Normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_color/logo_color-white.css);
@import url(../blocks/header/__nav-link/header__nav-link.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-items/header__nav-items.css);
@import url(../blocks/header/__nav-item/header__nav-item.css);

@import url(../blocks/content/content.css);

@import url(../blocks/description/description.css);
@import url(../blocks/content/__description/content__description.css);
@import url(../blocks/description/__wrapper/description__wrapper.css);
@import url(../blocks/description/__subtitle/description__subtitle.css);
@import url(../blocks/bacterium-fx/bacterium-fx.css);
@import url(../blocks/bacterium-fx/__star/bacterium-fx__star.css);
@import url(../blocks/bacterium-fx/__star/_size/bacterium-fx__star_size_s.css);
@import url(../blocks/bacterium-fx/__star/_size/bacterium-fx__star_size_m.css);
@import url(../blocks/bacterium-fx/__star/_size/bacterium-fx__star_size_l.css);
@import url(../blocks/bacterium-fx/__dots/bacterium-fx__dots.css);
@import url(../blocks/bacterium-fx/__dots/_size/bacterium-fx__dots_size_s.css);
@import url(../blocks/bacterium-fx/__dots/_size/bacterium-fx__dots_size_m.css);
@import url(../blocks/bacterium-fx/__dots/_size/bacterium-fx__dots_size_l.css);
@import url(../blocks/bacterium-fx/_rotation-animation/bacterium-fx__rotation-animation.css);

@import url(../blocks/products/products.css);
@import url(../blocks/products/__container/products__container.css);
@import url(../blocks/products/__item/products__item.css);

@import url(../blocks/technology/technology.css);
@import url(../blocks/content/__technology/content__technology.css);
@import url(../blocks/technology/__items/technology__items.css);
@import url(../blocks/technology/__item/technology__item.css);
@import url(../blocks/roundAround-fx/roundAround-fx.css);
@import url(../blocks/roundAround-fx/_slide-animation/roundAround-fx_slide-animation.css);
@import url(../blocks/roundAround-fx/__circle/roundAround-fx__circle.css);
@import url(../blocks/technology/__paragraph/technology__paragraph.css);
@import url(../blocks/square-fx/square-fx.css);
@import url(../blocks/square-fx/__object/square-fx__object.css);
@import url(../blocks/square-fx/_move-object-animation/square-fx__move-object-animation.css);

@import url(../blocks/line-fx/line-fx.css);
@import url(../blocks/line-fx/__item/line-fx__item.css);
@import url(../blocks/line-fx/__row/line-fx__row.css);
@import url(../blocks/line-fx/__row/_size/line-fx__row_size_xs.css);
@import url(../blocks/line-fx/__row/_size/line-fx__row_size_s.css);
@import url(../blocks/line-fx/__row/_size/line-fx__row_size_m.css);
@import url(../blocks/line-fx/__row/_size/line-fx__row_size_l.css);
@import url(../blocks/line-fx/_move-animation/line-fx_move-animation.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/footer/__social-container/footer__social-comtainer.css);
@import url(../blocks/footer/__nav-social/footer__nav-social.css);
@import url(../blocks/footer/__social-title/footer__social-title.css);
@import url(../blocks/footer/__social-items/footer__social-items.css);
@import url(../blocks/footer/__social-item-link/footer__social-item-link.css);
@import url(../blocks/footer/__social-item/footer__social-item.css);
@import url(../blocks/footer/__social-image/footer__social-image.css);
@import url(../blocks/footer/__logo-link/footer__logo-link.css);
