.footer {
  box-sizing: border-box;
  background-color: #111;
  flex: 0 0 auto;
  min-height: max-content;
  
  &__caption {
    margin: 15px auto 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
    font-size: 9px;
    text-align: right;
    cursor: default;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 6% 20px;
  }

  &__socialImage {
    width: 28px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
  }

  &__socialItem {
    margin-right: auto;
  }

  &__socialItemLink {
    color: rgb(189, 189, 189);
    text-decoration: none;
    line-height: 24px;
    font-size: 15px;
    font-weight: normal;
    will-change: opacity;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: .7;
    }
  }

  &__socialItems {
    padding-top: 15px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
  }

  &__socialTitle {
    color: #fff;
    text-align: start;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px;
    letter-spacing: .4px;
    cursor: default;
  }

  &__logo {
    object-fit: contain;
    width: 200px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
  }
}
 