.description__subtitle {
  line-height: 19px;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  text-align: left;
  max-width: 420px;
  display: block;
  position: relative;
  cursor: default;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .description__subtitle {
    margin:0 0 40px;
    text-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 575px) {
  .description__subtitle {
    font-size: 15px;
    max-width: 285px;
    margin-bottom: 20px;
  }
}