.products {
  background-image: linear-gradient(#eee, #fff);
  padding: 60px 0 70px;
  min-width: 320px;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .products {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 575px) {
  .products {
    padding: 40px 0 70px;
  }
}

