@font-face {
  src: url(./fonts/Inter-Regular.woff2) format('woff2'),
       url(./fonts/Inter-Regular.woff) format('woff');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url(./fonts/Inter-SemiBold.woff2) format('woff2'),
       url(./fonts/Inter-SemiBold.woff) format('woff');
  font-family: 'Inter';
  font-weight: 600;
}

@font-face {
  src: url(./fonts/Inter-Bold.woff2) format('woff2'),
       url(./fonts/Inter-Bold.woff) format('woff');
  font-family: 'Inter';
  font-weight: bold;
}


body {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

